* {
  padding: 0%;
  margin: 0;
  box-sizing: border-box;
}

.main-screen {
  width: 100vw;
  height: 100vh;
  background: green;
}

.menubar {
  width: 8rem;
  height: 80vh;
  background: #f1e5e5e0;
  display: flex;
  position: fixed;
  right: 50px;
  margin-top: 2rem;
  border-radius: 8px;
  padding: 1rem;
}

.btn-menu {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.btn-menu button {
  border-radius: 10px;
  width: 95px;
  height: 40px;
  border: 1px solid black;
  margin: 10px 0px;
}

#red {
  background: red;
  color: white;
  transition: 2s;
}

#blue {
  background: blue;
}

#orange {
  background: orange;
}

#rebeccapurple {
  background: rebeccapurple;
}

#pink {
  background: pink;
}
